html {
    height: 100%;  /* para que .page use el 100% */
}
body {
    background-color: #0C2410;
    height: 100%;  /* para que .page use el 100% */
}
.container {
    height: 100%;
}
form {
    padding-bottom: 20px;
    padding-top: 20px;
}
#map {
    background-color: white;
    border-radius: 4px;
}
#lb {
    color:#f48a0f;
}
