html {
    height: 100%;
}
body {
    height: 100%;
    font-family: Arial;
    margin: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    /* no deja seleccionar texto */
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

a {
    color: unset;
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}
h1 {
    color: #ffffff;
    margin: 0;
}
.container {
    height: 100%;
}
.topbar {
    background-color: #000;
    color: #ffffff;
    height: 50px;
}
.topbar ul {
    list-style-type: none;
    line-height: 50px;
    max-width: 60%;
    margin: 0 auto;
}
.topbar ul li {
    float: left;
    margin: 0 10px;
}
#topbar__title {
    font-size: 18px;
    font-weight: 600;
    margin-right: 40px;
}
#topbar__user {
    cursor: default;
    font-size: 14px;
    font-weight: 600;
    float: right;
}
.menu {
    background-color: tomato;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    height: 80px;
    position: absolute;
    top: 50px;
    width: 150px;
    z-index: 10;
}
.menu ul {
    list-style: none;
}
.menu ul li {
    color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #000;
    cursor: default;
}
.menu ul li:hover {
    color: #000;
}

.page {
    background-color: lightgray;
    bottom: 0;
    padding: 40px;
    position: absolute;
    top: 50px;
    width: 100%;
}
.inside {
    background-color: purple;
    border-radius: 4px;
    height: 100%;
    width: 100%;
}








.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
