﻿
#page {
    height: 100%; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    }

#top {
    height: 25%; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 0; 
    top: 0;
    left: 0;
    background-image: url("recursos/road.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden; /* Disable horizontal scroll */
}

/* The side navigation menu */
.sidenav{
    font-family:Tahoma;
    text-decoration: none;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 25%;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    
}

#main{
    background-color:darkgray;
    z-index: 0;
    height: 100%;
    width: 100%;
    top:25%;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    border: none;
}

/* The navigation menu links */
.sidenav ul{
    
    position: relative;
    list-style: none;
    text-decoration: none;
    font-size: 100%;
    display: block;
    right: 20%;
    color: #f48a0f;
}
.sidenav ul li{
    list-style: none;
    text-decoration: none;
    
}


/* los submenús */
  .sidenav ul li ul {
    list-style: none;
    height: 0;
    border-radius: 5px 5px 5px 5px;
    margin: 0;
    opacity: 0; /* no son visibles */
    position: relative;
    right: 20%;
    z-index: 2;
    width: 100%;
    font-size: 80%;
    /* se ubican a la izquierda del menu principal*/
    /* el color de fondo */
    background: #222;
    background: linear-gradient(#222,#555);
    color:#818181;
  }
  /* son visibes al poner el cursor encima */
  .sidenav ul li:hover > ul { opacity: 1; height: 20%;}

.sidenav ul li ul a{color:#818181;}

  
 
.sidenav ul  a{ /*Para sacar el subrayado y color a los enlaces del menu*/
    color: #f48a0f;
    text-decoration:none;   
}



.sidenav  ul li a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

  /* el último n otiene un borde */
  .sidenav  ul li:last-child a { border: none; }

#user {
    position: absolute;
    background-color: #f48a0f;
    opacity: 0.25;
    border-radius: 10px 10px 10px 10px;
    z-index: 2;
    width: 30%;
    height: 50%;
    top: 5%;
    right: 5%;
    text-align: center;
    
}

#user p{
    font-family: Tahoma;
    font-size: 100%;
    color: black;
    font-weight: 800;
}


.menu{
    font-family: Tahoma;
    color: white;
    opacity: 1;
    height: 7%;
    width: 7%;
    right: 0;
    top: 19.2%;
    position: absolute;
    font-size:30px;
    cursor:pointer;
}

.sidenav .closebtn {
    text-decoration: none;
    color: #818181;
    position: relative;
    top: 0;
    right: 0;
    font-size: 150%;
    margin-right: 20%;
    height: 10%;
    width: 10%;
}

